:root {
    --primaryFont: 'Poppins', sans-serif;
    --primary: #545fc4;
    --secondary: #eaeaea;
    --tertiary: #212121;
    --theme-primary: #545fc4;
    --theme-secondary: #eaeaea;
    --theme-tertiary: #212121;
    --theme-primary50: #545fc480;
    --theme-primary30: #545fc44d;
    --theme-primary80: #545fc4cc;
    --theme-primary600: #3644c9
}

